@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --bg-color: #FCFCFC;
    --text-color: #868E96;
    --bold-text-color: #343A40;
    --context-green: #55FF66;
    --bold-context-green: #3bb247;
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
h1 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 5.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--bold-text-color);
}
h2 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--bold-text-color);
    margin: 0px 0px 10px 0px;
}
.container{
    width: 100vw;
    height: 100vh;

    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links{
    display: flex;
    flex-direction: row;
}
.links a{
    font-size: 4rem;
    color: var(--bold-text-color);
    transition: all 1.5s;

    animation: flip-link 4s linear infinite;
}
.links a + a {
    padding-left: 15px;
}
.links a:hover{
    font-size: 4rem;
    color: var(--bold-context-green);
    /*
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
    */
}
@keyframes flip-link {
    25%{
        transform: rotateY(360deg);
    }
    100%{
        transform: rotateY(360deg);;
    }
}
.content-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
}
.projects{
    display: flex; /* mudar para flex para aparecer a div dos projetos*/
    justify-content: center;
    overflow: hidden;

    z-index: 1;
    width: 310px;
    height: 200px;

    -webkit-transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
}
.projects:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.projects a{
    text-decoration: none;
}
.background{
    position: absolute;

    z-index: -1;
    background-image: url("../media/images/background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100%;
    width: 100%;

    opacity: 0.4;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

/**
* BUTTON (CONTACT)
*/
.button-contact {
    position: relative;
    display: inline-flex;
    width: 250px;
    height: 55px;
    margin: 0px;
    perspective: 1000px;
}
.button-contact  a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.button-contact  a:before,
.button-contact  a:after{
    position: absolute;
    display: flex;
    height: 55px;
    width: 250px;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--context-green);
    box-sizing: border-box;
    border-radius: 5px;
}
.button-contact  a:before{
    content: "HIRE ME";
    color: var(--bold-text-color);
    background: var(--context-green);
    transform: rotateY(0deg) translateZ(25px);
}
.button-contact  a:after{
    content: "LET'S WORK TOGETHER";
    color: var(--context-green);
    transform: rotateX(90deg) translateZ(25px);
}
.button-contact  a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
}

/**
* DIV (TECHNOLOGIES)
*/
.technologies{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    color: var(--context-green);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    cursor: default; 
    font-size: 6.5rem;

    width: 200px;
    text-align: center;
}
.technologies span{
    position: absolute;
    display: block;
}
.technologies span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg,transparent,var(--context-green));
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.technologies span:nth-child(2){
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg,transparent,var(--context-green));
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.technologies span:nth-child(3){
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg,transparent,var(--context-green));
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.technologies span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg,transparent,var(--context-green));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

@media screen and (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    h1{
        font-size: 4rem;
        line-height: 4.5rem;
    }
    .content-top{
        flex-direction: column;
        align-items: center;
    }
    .contact{
        margin: 50px 0px 0px 0px;
    }
    .content-bottom{
        flex-direction: column;
        align-items: center;
    }
    .apresentation{
        text-align: center;
    }
    .projects{
        display: none;
    }
    .technologies{
        margin: 20px 0px 20px 0px;
        display: none;
    }
    .background{
        display: none;
    }
    .projects img{
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
    .button-contact  a:after{
        content: "LET'S WORK TOGETHER";
        color: var(--bold-text-color);
        background: var(--context-green);
        transform: rotateX(90deg) translateZ(25px);
    }
}

@media screen and (max-width: 800px){
    .background{
        display: none;
    }
}

@media screen and (max-width: 2560px){
    .background{
        background-size: cover;
        background-position: 0% 20%;
    }
}